<nav>
  <div class="nav-container">
    <div class="nav-logo">
      <img src='/images/logo.png' alt="Logo" class="logo-img">
    </div>
    <div class="nav-links">
      <a routerLink="/">Home</a>
      <a routerLink="/about">About</a>
      <a routerLink="/fixtures">Fixtures</a>
      <a routerLink="/team">Team</a>
      <a routerLink="/gallery">Gallery</a>
      <a routerLink="/sponsors">Sponsors</a>
      <a routerLink="/contact">Contact</a>
    </div>
    <div class="nav-toggle">
      <span>__</span>
      <span>__</span>
      <span>__</span>
    </div>
  </div>
</nav>